.banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    background-color: #c9d1d9;
    background-image: url('./Banner_boho.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    /*background-image: linear-gradient(to bottom right, #3d251e, #8b6c5c); */
  }
  
  .banner .overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /*.banner > div > div {
    align-items: center;
  }
  
  .banner .brand {
    display: flex;
    align-items: center;
  }
  
  .banner .brand img {
    width: 100%;
  }*/
  
  .banner .title {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: cursive;
    color: #c9d1d9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .banner .shopping-button {
    color: #c9d1d9;
    background-color: #4CBB17;
    padding: 20px;
    border-radius: 50px;
  }

  .banner .shopping-button:hover {
    color: #c9d1d9;
    background-color: #4CBB17;
    padding: 20px;
    border-radius: 50px;
  }
  
  @media (min-width: 800px) {
    .banner .title {
      font-size: 65px;
    }
  }
  